<%- include('includes/head') %> <%- include('includes/nave') %>
<div class="conteiner">
  <div class="row">
    <div class="col-lg-2"> </div>
      <div class="col-lg-8 my-5">
      <h1 class="display-1 text-center">Erro 404!</h1>  
      <p class="text-center lead">a pagina que você procura nã existe</p>

      </div>
        <div class="col-lg-2"> </div> 
  </div>
</div>
<%- include('includes/footer') %>
